body{
    margin: 0;
}
.shapka{
    min-width: 100vw;
    min-height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.but{
    margin-right: 15px;
    margin-left: 15px;
    width: 50px;
}
